.action-banner {
  @include clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  padding: $padding;
  // WORKAROUND - remove when full detail header is available
  & > .detail-header__title {
    margin: 0 0 -10px;
    line-height: 1.7;
    padding-left: 55px;
  }
}

.action-banner--fixed-top {
  position: fixed;
  background-color: #FFF;
  box-shadow: 0 0px 2px 2px transparentize($bd-dark-gray, 0.85);
  width: 100%;
  z-index: 10;
  display: flex;
  padding: 0;

  .button--home {
    background-size: 55%;
    border-right: 1px solid $bd-light-gray;
    height: 60px;
    flex-basis: 60px;
  }

  .button--return {
    flex-basis: 40px;
    margin: 10px;
  }

  .search {
    flex-basis: calc(100% - 100px);
    margin: 10px;

    .search__query {
      box-shadow: none;
    }
  }

  .button {
    box-shadow: none;
  }
}
