.action-banner {
  @include clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  padding: $padding;
  // WORKAROUND - remove when full detail header is available
  & > .detail-header__title {
    margin: 0 0 -10px;
    line-height: 1.7;
    padding-left: 55px;
  }

  .stop-item__toggle-favorite {
    @extend .button, .button--fav;
    top: $padding;

    .material-icons {
      color: #fff;
    }
  }
}

.action-banner--fixed-top {
  position: fixed;
  background-color: #FFF;
  box-shadow: 0 0px 2px 2px transparentize($bd-dark-gray, 0.85);
  width: 100%;
  z-index: 10;
  display: flex;
  padding: $padding;

  .button--home {
    background-size: 55%;
    border-right: 1px solid $bd-light-gray;
    height: 60px;
    flex-basis: 60px;
  }

  .button--return {
    flex-basis: 40px;
  }

  .search__submit {
    right: $padding / 2;
  }

  .search {
    margin-left: $padding;

    .search__query {
      padding-right: $padding * 3;
      border: 1px solid $bd-light-gray;
      box-shadow: none;
    }
  }

  .button {
    box-shadow: none;
  }
}
