.event {
  display: block;
  height: ($padding * 7);
}

.event--past {
  display: block;
  opacity: 0.5;
}

.event__time {
  float: left;
  width: 23.6%;
  padding-right: ($padding * 2);
}

.event__schedule_time {
  margin-top: 0;
  text-align: center;
}

.event__relative-time {
  font-size: $ms-1;
  text-align: center;
  color: $bd-gray;
}

.event__event-details {
  float: left;
  position: relative;
  width: 76.4%;
  height: 100%;
  padding-left: ($padding * 2);
  border-left: 2px solid $bd-light-gray;
  & > p {
    font-size: $ms0;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: ($padding * 0.75);
  }
  .tag {
    float: none;
    position: relative;
    top: -2px;
    width: 22.85%;
    margin-bottom: 0;
  }
}

.event__marker {
  position: absolute;
  top: 0;
  left: -11px;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #fff;
  border: 4px solid $bd-gray;
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem #fff;

  .tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.event__title {
  margin-top: 0;
}

// http://stackoverflow.com/a/13287975
.event--future:first-child,
:not(.event--future) + .event--future {
  .event__time {
    color: $bd-dark-gray;
  }
  .event__marker {
    border: 3px solid $bd-dark-gray;
    background-color: $bd-dark-gray;
    box-shadow: 0 0 0 4px #fff, 0 0 0 3px #fff inset;
  }
}
