.landing-container {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 40px;

  & > .action-banner {
    position: relative;
    .search-bar {
      width: 100%;
      margin: 0;
      & > input {
        opacity: 1;
        padding: 0 $padding;
        width: calc(100% - 40px);
      }
      .button {
        border-radius: 0 $border-radius $border-radius 0
      }
    }
  }
}
