.list {
  padding: 83px $padding $padding;
  background-color: $bd-lighter-gray;
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;

  &--home {
    background-color: none;

    & .list-item__container {
      min-height: calc(75vh - 260px);
      overflow: scroll;

      @media screen and (max-width: 480px) {
        height: calc(75vh - 215px);
      }
    }
  }
}

.list-item {
  @include clearfix;
  display: block;
  margin-bottom: $padding;
  padding: $padding;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 100%;
}

.list-item__button {
  float: right;
  margin: 0;
  color: $bd-light-gray;
  font-size: $ms1;
  line-height: 2.15;
}

.list-item__title {
  width: calc(100% - 2.1em);
  margin: 0;
  padding-right: $padding;
  font-size: $ms0;
  font-weight: 600;
  line-height: $ms3;

  small {
    font-size: $ms-1;
    font-weight: 400;
    margin-left : $padding / 2;
  }

  .tag {
    position: relative;
    top: -4px;
    width: 15.85%;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}

.list-item__subtitle {
  margin: ($padding / 4) 0 $padding;
  font-size: $ms-1;
  font-weight: 400;
  line-height: $ms2;
  color: $bd-gray;
  text-transform: capitalize;
}

.list-item__title--route {
  font-size: $ms0;
}

.list-item__details {
  @include clearfix;
  margin-top: $padding / 2;

  .tag {
    min-width: 15.82%;
    width: auto;
    height: $ms0;
    font-size: $ms-3;
    line-height: $ms0;
  }
}

.list-item__distance,
.list-item__location {
  margin-top: $padding / 5;
  line-height: $ms0;
  color: $bd-gray;
}

.list-item__distance {
  float: right;
  font-size: $ms-2;
}
