.tag {
  display: block;
  border-radius: $border-radius;
  color: #FFFFFF;
  background-color: $bd-light-gray;
  text-align: center;
  font-size: $ms-2;
  font-weight: 500;
  line-height: $ms1;
  padding: 0 2px;
  white-space: nowrap;
}

.tag--blue {
  background-color: $bd-blue;
}

.tag--green {
  background-color: $bd-green;
}

.tag--purple {
  background-color: $bd-purple;
}

.tag--red {
  background-color: $bd-red;
}
