use Mix.Config

config :realtime,
  feeds: %{
    "King County" => %{
      trip_updates_url: "http://api.pugetsound.onebusaway.org/api/gtfs_realtime/trip-updates-for-agency/1.pb?key=TEST",
      vehicle_positions_url: "http://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/1.pb?key=TEST"
    }
  }