@font-face {
	font-family: 'bd-icons';
	src:url('../fonts/bd-icons/bd-icons.eot?');
	src:url('../fonts/bd-icons/bd-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bd-icons/bd-icons.woff?') format('woff'),
		url('../fonts/bd-icons/bd-icons.woff2?') format('woff2'),
		url('../fonts/bd-icons/bd-icons.ttf?') format('truetype'),
		url('../fonts/bd-icons/bd-icons.svg?#bd-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bd-icon-"], [class*=" bd-icon-"] {
	font-family: 'bd-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bd-icon--arrow-left:before {
	content: "\e807";
}

.bd-icon--bus:before {
	content: "\e808";
}

.bd-icon--clock:before {
	content: "\e809";
}

.bd-icon--heart-o:before {
	content: "\e801";
}

.bd-icon--heart:before {
	content: "\e802";
}

.bd-icon--pin:before {
	content: "\e803";
}

.bd-icon--search:before {
	content: "\e804";
}

.bd-icon--walk:before {
	content: "\e805";
}

.bd-icon--expand:before {
	content: "\e80A";
}

.bd-icon--contract:before {
	content: "\e806";
}

.bd-icon--reorder:before {
	content: "\e800";
}
