* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  color: $bd-dark-gray;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-alternates: styleset(ss01) character-variant(cv08);
  font-variant-numeric: diagonal-fractions;
  font-kerning: normal;
  font-feature-settings: "calt" 1, "tnum" 0, "frac" 1, "case" 1, "ss01" 1, "cv08" 1, "kern" 1, "liga" 1;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  position: relative;
}

html, body {
  height: 100%;
}

body > div {
  min-height: 100%;
  position: relative;
}

h1 {
  font-weight: 600;
  font-size: $ms3;
}

h2 {
  font-weight: 700;
  font-size: $ms-2;
  color: $bd-gray;
  text-transform: uppercase;
  letter-spacing: 0.066em;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
