.section {
  padding-bottom: $padding * 2;
}

.light {
  color: $bd-gray;
}

.white {
  color: #fff;
}

.push {
  margin: $padding * 1.5;
}

.push-10 {
  margin: 10px;
}

.push-bottom {
  margin-bottom: $padding * 1.5;
}

.push-top {
  margin-top: $padding * 1.5;
}

.push-top-5 {
  margin-top: 5px;
}

.hide-me {
  display: none;
}

.push-sides {
  margin-left: $padding * 1.5;
  margin-right: $padding * 1.5;
}

.shove {
  margin: $padding * 3;
}

.shove-bottom {
  margin-bottom: $padding * 3;
}

.shove-top {
  margin-top: $padding * 3;
}

.pad {
  padding: 15px;
}

.flush-top, .flush--top {
  margin-top: 0;
}

.unstyled-list {
  padding-left: 0;
  list-style: none;
}

.soft-sides {
  padding-left: $padding * 1.5;
  padding-right: $padding * 1.5;
}

.pull-top {
  margin-top: -$padding * 1.5;
}

.pull-bottom {
  margin-bottom: -15px;
}

.text-center, .text--center {
  text-align: center;
}

.height-full {
  min-height: 100vh;
}

.text--invert {
  color: #fff;
}

.pull--left {
  float: left;
}

.pull--right {
  float: right;
}

.bg-primary {
  background-color: $bd-blue;
}

.truncate {
  width: calc(100% - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unstyled {
  color: $bd-dark-gray;
}

@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix()
}

.clear {
  clear: both;
}
